/***********************
    GENERALS RULES
***********************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2rem;
}

/***********************
    //GENERALS RULES
***********************/

/***********************
    UTILITIES
***********************/


/***********************
    //UTILITIES
***********************/

/***********************
    STYLE
***********************/


/***********************
    //STYLE
***********************/

/***********************
    BIG PHONE RESPONSIVE
***********************/

/***********************
    //BIG PHONE RESPONSIVE
***********************/

/***********************
    TABLET RESPONSIVE
***********************/

/***********************
    //TABLET RESPONSIVE
***********************/

/***********************
    DEKSTOP RESPONSIVE
***********************/

/***********************
    //DEKSTOP RESPONSIVE
***********************/