:root {
    --padding: 10px;
    --padding-2: 20px;
    --padding-3: 5px;
    --header-padding: 0px 10px;
    --icon-padding: 5px 0;
    --footer-height: 90px;
    --header-height: 90px;
    --gray: #646464;
}

/***********************
    GENERALS RULES
***********************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2rem;
}

img {
    width: 100%;
}

/***********************
    //GENERALS RULES
***********************/

/***********************
    UTILITIES
***********************/
.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.section-title {
    color: #fff;
    font-size: 1.7rem;
    padding-left: 25px;
    padding-bottom: 30px;
}

.section-description {
    color: var(--gray);
    padding-left: 25px;
}

section strong {
    display: inline-block;
}

/***********************
    //UTILITIES
***********************/

/***********************
    STYLE
***********************/
.web-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-grow: 1;
    height: 90vh;
}

/** Aside **/
aside {
    background-color: #000;
    padding: var(--padding);
    color: var(--gray);
    height: calc(100vh - var(--footer-height));
}

#big-logo {
    display: none;
}

aside img {
    width: 35px;
    vertical-align: middle;
}

aside span {
    display: none;
    vertical-align: middle;
    font-size: 0.9rem;
    font-weight: 700;
}

.icon-container img {
    padding: var(--icon-padding);
}

/******** playlist section ********/
#playlist-actions {
    padding-top: var(--padding-2);
    display: none;
}

#playlist-actions h4 {
    color: #fff;
    padding-bottom: var(--padding);
}

#playlist-actions strong {
    display: block;
    font-size: 0.9rem;
    padding: var(--padding-3);
    padding-left: 0;
}

#new-playlist {
    padding-bottom: 8px;
}

#new-playlist button,
span {
    vertical-align: middle;
}

#new-playlist span {
    font-size: 1.1rem;
}

#new-playlist-button {
    background-color: var(--gray);
    border: none;
    padding: 0 7px;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 5px;
}

#account-info span {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.icon-container hr {
    margin: 5px 0;
    display: none;
}

/******** //playlist section ********/

/** //Aside **/

/** Header **/

header {
    height: var(--header-height);
    line-height: var(--header-height);
    background-color: #080b12;
    opacity: 95%;
    width: 100%;
    padding: var(--header-padding);
    text-align: right;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
}

header a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 35px;
    border-radius: 20px;

}

/** //Header **/

/** Main **/
main {
    flex-grow: 1;
    position: relative;
}

#albums {
    overflow-y: auto;
    height: calc(100vh - var(--footer-height));
    padding-top: var(--header-height);
    background-color: #141922;
}

/** main buttons **/
.main-action {
    width: 100%;
    padding: 0px 30px;
    text-align: center;
}

.main-action a {
    color: var(--gray);
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.80rem;
    padding: 20px 7px;
}

/** //main buttons **/

/** album and playlist container **/
#albums section:nth-child(2),
section:nth-child(3),
section:nth-child(4) {
    padding-top: 30px;
}

.album-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.album-info {
    width: calc(100% / 2);
    padding: 0 5px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.album-name {
    color: #fff;
    font-size: 1.1rem;
    padding-top: 15px;
    padding-bottom: 10px;
}

.section-description {
    padding-bottom: var(--padding-2);
}

.artist-name {
    color: var(--gray);
}

.artist-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/** //album and playlist container **/

/** //Main **/

/** Footer **/
footer {
    min-height: var(--footer-height);
    background-color: #282828;
    position: fixed;
    width: 100%;
    bottom: 0;
}



/** //Footer **/

/***********************
    //STYLE
***********************/



/***********************
    BIG PHONE RESPONSIVE
***********************/
@media screen and (min-width: 639px) {
    aside {
        padding: var(--padding-2);
        padding-right: 40px;
    }

    aside img {
        width: 25px;
    }

    aside span {
        display: inline;
    }

    #big-logo {
        display: inline-block;
        width: 150px;
        margin-bottom: 20px;
    }

    #small-logo {
        display: none;
    }

    #playlist-actions {
        display: block;
    }

    .icon-container hr {
        display: block;
    }
}

/***********************
    //BIG PHONE RESPONSIVE
***********************/

/***********************
    TABLET RESPONSIVE
***********************/
@media screen and (min-width: 878px) {
    .album-info {
        width: calc(100% / 4);
    }
}

/***********************
    //TABLET RESPONSIVE
***********************/

/***********************
    DEKSTOP RESPONSIVE
***********************/
@media screen and (min-width: 1440px) {
    .album-info {
        width: calc(100% / 6);
    }
}

/***********************
    //DEKSTOP RESPONSIVE
***********************/


aside {
    position: fixed;
    left: 0;
    width: 13vw;
    z-index: 998;
}

main {
    padding-left: 13vw;
}

footer {
    z-index: 999;
}